@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  background-color: #f0e2c5;
}
.bg-primary {
  background-color: #f0e2c5;
}
.bg-secondary {
  background-color: #49281a;
}
.text-primary {
  color: #f0e2c5;
}
.text-secondary {
  color: #49281a;
}
.header-font {
  font-family: "Playfair Display SC", serif;
}
.body-font {
  font-family: "Lato", serif;
}
